form {
  background-color: #EDEFEE;
    width: 100%;
    padding: 1rem;
    display: grid;
    gap: 1.25rem;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    font-size: 1rem;
}

form input,
form select,
form button {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form button {
    background-color: #495e57;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

form button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

form button:not([disabled]):hover {
    background-color: #3c4f48;
}

@media (max-width: 480px) {
    form {
      gap: 1rem;
    }

    form input,
    form select,
    form button {
      width: 100%;
    }
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: -15px;
    margin-bottom: 10px;
}
